<script>
$(function() {
  $( "#order_pick_up_address_1" ).autocomplete({
   source: function( request, response ) {
    var add = $("#order_pick_up_address_1").val();
    $.ajax({
      url: "/autocomplete_address",
      dataType: "json",
      data: { address: add },
      
      success: function( data ) {
        response( data );
      }
    });
  },
});

  $( "#order_pick_up_address_2" ).autocomplete({
   source: function( request, response ) {
    var add = $("#order_pick_up_address_2").val();
    $.ajax({
      url: "/autocomplete_address",
      dataType: "json",
      data: { address: add },
      
      success: function( data ) {
        response( data );
      }
    });
  },
});

  $( "#order_pick_up_address_3" ).autocomplete({
   source: function( request, response ) {
    var add = $("#order_pick_up_address_3").val();
    $.ajax({
      url: "/autocomplete_address",
      dataType: "json",
      data: { address: add },
      
      success: function( data ) {
        response( data );
      }
    });
  },
});

  $( "#order_pick_up_address_4" ).autocomplete({
   source: function( request, response ) {
    var add = $("#order_pick_up_address_4").val();
    $.ajax({
      url: "/autocomplete_address",
      dataType: "json",
      data: { address: add },
      
      success: function( data ) {
        response( data );
      }
    });
  },
});


  $( "#order_drop_point_address_1" ).autocomplete({
   source: function( request, response ) {
    var add = $("#order_drop_point_address_1").val();
    $.ajax({
      url: "/autocomplete_address",
      dataType: "json",
      data: { address: add },
      
      success: function( data ) {
        response( data );
      }
    });
  },
});

  $( "#order_drop_point_address_2" ).autocomplete({
   source: function( request, response ) {
    var add = $("#order_drop_point_address_2").val();
    $.ajax({
      url: "/autocomplete_address",
      dataType: "json",
      data: { address: add },
      
      success: function( data ) {
        response( data );
      }
    });
  },
});

  $( "#order_drop_point_address_3" ).autocomplete({
   source: function( request, response ) {
    var add = $("#order_drop_point_address_3").val();
    $.ajax({
      url: "/autocomplete_address",
      dataType: "json",
      data: { address: add },
      
      success: function( data ) {
        response( data );
      }
    });
  },
});

  $( "#order_drop_point_address_4" ).autocomplete({
   source: function( request, response ) {
    var add = $("#order_drop_point_address_4").val();
    $.ajax({
      url: "/autocomplete_address",
      dataType: "json",
      data: { address: add },
      
      success: function( data ) {
        response( data );
      }
    });
  },
});

  $( "#order_shipper_address" ).autocomplete({
   source: function( request, response ) {
    var add = $("#order_shipper_address").val();
    $.ajax({
      url: "/autocomplete_address",
      dataType: "json",
      data: { address: add },
      
      success: function( data ) {
        response( data );
      }
    });
  },
});


});
</script>
 <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <div class="col-md-6">
    <%= form_for @order  do |f| %>
    <h3> BASIC INFO</h3>
    <dt><%= f.label :inquiry_date %></dt>
    <dd><%= f.text_field :inquiry_date, class: 'date_of_birth' %></dd>
    <br>
    <dt><%= f.label :no %></dt>
    <dd><%= f.text_field :no, class: 'form-control' %></dd>
    <br>
    <dt><%= f.label :shipper  %></dt>
    <dd><%= f.text_field :shipper, class: "form-control" %></dd>
    <br>
    <dt><%= f.label :shipper_address  %></dt>
    <dd><%= f.text_area :shipper_address, class: "form-control" %></dd>
    <br>
    <dt><%= f.label :transporter %></dt>
    <dd><%= f.text_field :transporter, class: 'form-control' %></dd>
    <br>
    <dt><%= f.label :truck_size %></dt>
    <dd><%= f.text_field :truck_size, class: 'form-control' %></dd>
    <br>
    <dt><%= f.label :route %></dt>

    <dd><%= f.text_field :remarks, class: 'form-control' %></dd>
    <br>
    <%if current_user.email != "mu@ikargo.com"%>
    <dt><%= f.label(:payment_advance, "Rate" )  %></dt>
    <dd><%= f.text_field :payment_with_gst, class: 'form-control' %></dd>
    <%end%>
    <br>
    <dt><%= f.label :notes %></dt>
    <dd><%= f.text_area :notes, class: 'form-control' %></dd>
    <br>
<h3>ADDRESS</h3>

        <br>


  <dt><%= f.label :goods_description %></dt>
          <dd><%= f.text_field :goods_description, class: 'form-control' %></dd>
          <br>
          <dt><%= f.label(:datetime, "Pick up date")%></dt>
          <dd><%= f.text_field :datetime, class: "date_of_birth" %></dd><br>
<div class= "accordion">

  <h3>Pick Up Address 1</h3>
<div>

        
          <dt><%= f.label(:pick_up_address_1, "Address") %></dt>
          <dd><%= f.text_area :pick_up_address_1, class: 'form-control', style: "border-top-color:black; border-top-width:2px;" %></dd>
          <br>
          <dt><%= f.label(:pick_up_pic_no_1, "Name & Phone no") %></dt>
          <dd><%= f.text_field :pick_up_pic_no_1, class: 'form-control', style: "border-bottom-color:black; border-bottom-width:2px;" %></dd>
          <br>
</div>
<h3>Pick Up Address 2</h3>
<div>
          <dt><%= f.label(:pick_up_address_2, "Address") %></dt>
          <dd><%= f.text_area :pick_up_address_2, class: 'form-control' %></dd>
          <br>
          <dt><%= f.label(:pick_up_pic_no_2, "Name & Phone no") %></dt>
          <dd><%= f.text_field :pick_up_pic_no_2, class: 'form-control', style: "border-bottom-color:black; border-bottom-width:2px;" %></dd>
          <br>
</div>
<h3>Pick Up Address 3</h3>
<div>

         <dt><%= f.label(:pick_up_address_3, "Address") %></dt>
          <dd><%= f.text_area :pick_up_address_3, class: 'form-control' %></dd>
          <br>
          <dt><%= f.label(:pick_up_pic_no_3,  "Name & Phone no") %></dt>
          <dd><%= f.text_field :pick_up_pic_no_3, class: 'form-control', style: "border-bottom-color:black; border-bottom-width:2px;" %></dd>
          <br>
</div>
<h3>Pick Up Address 4</h3>
<div>
         <dt><%= f.label(:pick_up_address_4, "Address") %></dt>
          <dd><%= f.text_area :pick_up_address_4, class: 'form-control' %></dd>
          <br>
          <dt><%= f.label(:pick_up_pic_no_4, "Name & Phone") %></dt>
          <dd><%= f.text_field :pick_up_pic_no_4, class: 'form-control', style: "border-bottom-color:black; border-bottom-width:2px;" %></dd>
          <br>
</div>
</div>
<br>
<br>
<dt><%= f.label :drop_point_date %></dt>
        <dd><%= f.text_field :drop_point_date, class: "date_of_birth" %></dd><br>

<div class= "accordion" >
<h3>Drop Point Address 1</h3>
<div>
  
        <dt><%= f.label(:drop_point_address_1, "Address") %></dt>
        <dd><%= f.text_area :drop_point_address_1, class: 'form-control', style: "border-top-color:black; border-top-width:2px;"  %></dd>
        <br>
         <dt><%= f.label(:drop_point_pic_no_1, "Name & Phone no") %></dt>
        <dd><%= f.text_field :drop_point_pic_no_1, class: "form-control", style: "border-bottom-color:black; border-bottom-width:2px;" %></dd>
        <br>
</div>
<h3>Drop Point Address 2</h3>
<div>
        <dt><%= f.label(:drop_point_address_2, "Address") %></dt>
        <dd><%= f.text_area :drop_point_address_2, class: 'form-control'  %></dd>
        <br>
         <dt><%= f.label(:drop_point_pic_no_2, "Name & Phone no")%></dt>
        <dd><%= f.text_field :drop_point_pic_no_2, class: "form-control", style: "border-bottom-color:black; border-bottom-width:2px;" %></dd>
        <br>
</div>

<h3>Drop Point Address 3</h3>
<div>
        <dt><%= f.label(:drop_point_address_3, "Address") %></dt>
        <dd><%= f.text_area :drop_point_address_3, class: 'form-control' %></dd>
        <br>
         <dt><%= f.label(:drop_point_pic_no_3, "Name & Phone no") %></dt>
        <dd><%= f.text_field :drop_point_pic_no_3, class: "form-control", style: "border-bottom-color:black; border-bottom-width:2px;" %></dd>
        <br>
</div>
<h3>Drop Point Address 4</h3>

<div>
        <dt><%= f.label(:drop_point_address_4, "Address") %></dt>
        <dd><%= f.text_area :drop_point_address_4, class: 'form-control', style: "border-bottom-color:black; border-bottom-width:2px;" %></dd>
        <br>
         <dt><%= f.label(:drop_point_pic_no_4, "Name & Phone no") %></dt>
        <dd><%= f.text_field :drop_point_pic_no_4, class: "form-control" %></dd>
        <br>
</div>
</div>
<br>
        <dt><%= f.label :special_request %></dt>
        <dd><%= f.text_field :special_request, class: 'form-control' %></dd>
        <br>
      </dl>
<h3>DRIVER</h3>
        <br><br>
        <dt><%= f.label :trucks_capacity %></dt>
        <dd><%= f.text_field :trucks_capacity, class: 'form-control' %></dd>
        <br>
        <dt><%= f.label :truck_reg_no %></dt>
        <dd><%= f.text_field :truck_reg_no, class: 'form-control' %></dd>
        <br>
        <dt><%= f.label :name %></dt>
        <dd><%= f.text_field :name, class: 'form-control', data: { autocomplete_source: @driver_info}%></dd>
        <br>
        <dt><%= f.label :ic %></dt>
        <dd><%= f.text_field :ic, class: 'form-control' %></dd>
        <br>
        <dt><%= f.label :phone_no %></dt>
        <dd><%= f.text_field :phone_no, class: 'form-control' %></dd>
        <br>
        <dt><%= f.label :driver_remarks %></dt>
        <dd><%= f.text_area :driver_remarks, class: 'form-control' %></dd>

        <h3>DELIVERY FLOW</h3>
<br>
        <dt><%= f.label :delivery_date %></dt>
        <dd><%= f.text_field :delivery_date, class: 'form-control' %></dd>
        <br>

        <dt><%= f.label :do_request_date %></dt>
        <dd><%= f.text_field :do_request_date, class: "date_of_birth" %></dd>
        <br>

        <dt><%= f.label :do_collection_date %></dt>
        <dd><%= f.text_field :do_collection_date, class: "date_of_birth" %></dd>
        <br>

        <dt><%= f.label :do_number %></dt>
        <dd><%= f.text_field :do_number, class: 'form-control' %></dd>
        <br>

        <dt><%= f.label :total_tonne %></dt>
        <dd><%= f.text_field :total_tonne, class: 'form-control' %></dd>
        <br>

        
        <dt><%= f.label :delivery_status%></dt>
        <dd>
          <select name="order[delivered]" id="delivered">
            <option value="OTW" selected = "selected" >OTW</option>
            <option value="Accident">Accident</option>
            <option value="Driver Absent">Driver Absent</option>
            <option value="Overweight">Overweight</option>
            <option value="DONE!">DONE!</option>
          </select>
        </dd>
  </div>
  <div class="col-md-6">

<h3>PAYMENT</h3>
        <dt><%= f.label :payment_name %></dt>
        <dd><%= f.text_area :payment_name, class: 'form-control' %></dd>
        <br>
        <dt><%= f.label :tel_no %></dt>
        <dd><%= f.text_area :tel_no, class: 'form-control' %></dd>
        <br>
        <dt><%= f.label :account_no %></dt>
        <dd><%= f.text_area :account_no, class: 'form-control' %></dd>
        <br>
        <dt><%= f.label :rate %></dt>
        <dd><%= f.text_field :rate, class: 'form-control' %></dd>
        <br>
       
        <dt><%= f.label :payment %></dt>
        <dd><%= f.text_field :payment_rate, class: 'form-control' %></dd>
        
        <br>
        <p>  calculate GST <%= f.check_box :payment_calculate_gst %>   GST included?<%= f.check_box :payment_reverse_calculate_gst %></p>
        <br>  
        <br>
        <dt><%= f.label(:gst_total_value, "6% GST(AUTO)", style: "color:red;") %></dt>
        <dd><%= f.text_field :gst_total_value, class: 'form-control' %></dd>
        <br>
        <%if current_user.email == "mu@ikargo.com" %>
        <dt><%= f.label(:payment_advance, "total after GST", style: "color:green;")  %></dt>
        <dd><%= f.text_field :payment_with_gst, class: 'form-control' %></dd>
        <%end%>
        <br>
        <dt><%= f.label :payment_advance %></dt>
        <dd><%= f.text_field :payment_advance, class: 'form-control' %></dd>
        <br>
        <dt><%= f.label :payment_paid %></dt>
        <dd><%= f.text_field :payment_paid, class: 'form-control' %></dd>
        <br>
        <dt><%= f.label :payment_commision %></dt>
        <dd><%= f.text_field :payment_commision, class: 'form-control' %></dd>
        <br>
        <dt><%= f.label(:payment_balance, "Balance(AUTO)", style: "color:red;")%></dt>
        <dd><%= f.text_field :payment_balance, class: 'form-control' %></dd>

        <h3>Billing</h3>
        <dt><%= f.label :name %></dt>
        <dd><%= f.text_area :billing_name, class: 'form-control' %></dd>
        <br>
        <dt><%= f.label(:billing_rate, "rate") %></dt>
        <dd><%= f.text_field :billing_rate, class: 'form-control' %></dd>
        <br>
        <dt><%= f.label :billing_amount %></dt>
        <dd><%= f.text_field :billing_amount, class: 'form-control' %></dd>
        <br>
        <p>  calculate GST <%= f.check_box :billing_calculate_gst %>   GST included?<%= f.check_box :billing_reverse_calculate_gst %></p>
        <br>  
        <dt><%= f.label(:gst_billing_total_value, "6% GST", style: "color:red;" )%></dt>
        <dd><%= f.text_field :gst_billing_total_value, class: 'form-control' %></dd>
        <br>
        <dt><%= f.label(:billing_with_gst, "total after gst", style: "color:green;") %></dt>
        <dd><%= f.text_field :billing_with_gst, class: 'form-control' %></dd>
        <br>
                <dt><%= f.label(:billing_received, "collection") %></dt>
        <dd><%= f.text_field :billing_received, class: 'form-control' %></dd>
        <br>

        <dt><%= f.label(:billing_balance, "billing") %></dt>
        <dd><%= f.text_field :billing_balance, class: 'form-control' %></dd>
        <br>

        <dt><%= f.label :invoice_date %></dt>
        <dd><%= f.text_field :invoice_date, class: "date_of_birth"  %></dd>
        <br>
        <dt><%= f.label :invoice %></dt>
        <dd><%= f.text_field :invoice, class: 'form-control' %></dd>
        <br><br>
      <dd><%= f.submit "Save", class: "btn btn-primary" %>   <%= link_to "Back" , dashboard_path, class: "btn btn-primary", :"data-no-turbolink" => true  %></dd>

       <%= link_to 'Destroy', @order, method: :delete, data: { confirm: 'Are you sure?' }, style: "margin-right:10px;", style: "margin-right:10px;margin-left: 500px;" %>
    </div>
  </div>
  <%end%>